services:
  frontend:
    build:
      context: ./src/app
      dockerfile: Dockerfile
    image: rescam-frontend
    container_name: rescam-frontend
    ports:
      - "3000:80"
    depends_on:
      - api

  api:
    build:
      context: ./src/api
      dockerfile: Dockerfile
    image: rescam-api
    container_name: rescam-api
    ports:
      - "5050:5050"
    volumes:
      - ./secrets:/home/app/.config/gcloud:ro
      - ./src/models:/app/models:ro
    environment:
      - PORT=5050
      - GOOGLE_APPLICATION_CREDENTIALS=/home/app/.config/gcloud/application_default_credentials.json
      - GCP_PROJECT_ID=articulate-fort-472520-p2
      - GCS_BUCKET_NAME=rescam-dataset-bucket
      - PUBSUB_TOPIC_NAME=gmail-notifications
      - LOG_LEVEL=debug
      - NODE_ENV=development
      - DEBUG=*
    env_file:
      - ./src/api/.env

  # datapipeline:
  #   build:
  #     context: ./src/datapipeline
  #     dockerfile: Dockerfile
  #   image: preprocess-data
  #   container_name: preprocess-data
  #   volumes:
  #     - ./secrets:/home/app/.config/gcloud:ro
  #   environment:
  #     - GOOGLE_APPLICATION_CREDENTIALS=/home/app/.config/gcloud/application_default_credentials.json
  #     - PYTHONUNBUFFERED=1
  #   command: ["-c", "source /home/app/.venv/bin/activate && python preprocess_clean.py && python preprocess_rag.py"]

  # models:
  #   build:
  #     context: .
  #     dockerfile: ./src/models/Dockerfile
  #   image: firestore-event-handler
  #   container_name: firestore-event-handler
  #   ports:
  #     - "8080:8080"
  #   volumes:
  #     - ./secrets:/home/app/.config/gcloud:ro
  #   environment:
  #     - GOOGLE_APPLICATION_CREDENTIALS=/home/app/.config/gcloud/application_default_credentials.json
  #     - GCP_PROJECT_ID=articulate-fort-472520-p2
  #     - PORT=8080
  #   command: ["-c", "source /home/app/.venv/bin/activate && python firestore_event_handler.py"]